.Activities{
   
    width: 100%;
    /* height: 37em; */
}

.AddButton{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    font-family: 'Jost';
    font-style: normal;
}

.leftButton{
    background: red;


}


.btn-home{
   
    margin:20px;
    border:0;
}

.btn-custom {
    background-color: #2E8540;
    border:0;
    border-radius: 25px;
    padding:10px;
}

.btn-add{
    background-color: #2E8540;
    /* border-color: black;
    border-width: 10px; */
    padding:10px;
    border: 10px solid #000000;
    margin-left: 9em;
}

.btn-remove{
    background-color:#981B1E;
    border: 10px solid #000000;
    border-color: black;
    /* border-width: 10px; */
    padding:10px;
    margin-right: 9em;
   
}

.btn-back{
    font-family: 'Jost';
    font-size: 90px;
    background: #AEB0B5;
    border: 3px solid #000000;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.h1-back{
    font-family: 'Jost';
    font-style: normal;
    font-size: 50px;
    /* font-weight: 400; */
    color:#212121;
    
}


.h1-add{
    font-family: 'Jost';
    font-style: normal;
    font-size: 90px;
    /* font-weight: 400; */
    color:#212121;
    margin-left: 175px;
}

.h1-remove{
    font-family: 'Jost';
    font-style: normal;
    font-size: 90px;
    /* font-weight: 400; */
    color:#212121;
    margin-right: 100px;
}

.h2-custom{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 5em;
    /* font-weight: 400; */
    color: #5B616B;
}

#day{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 60px;
    color: #5B616B;
}



.BottomButton{
    border-radius: 25px;
    width: 30em;
    height: 15em;
    margin-top: 0.5em;
    margin: auto;
    background: green;
    background-position: center;
    text-align: center;
}

.container-body{
    
}


.my-container{
    background-color: #D6D7D9;
    color: #212121 ;
    
    height:2em;
    border: 3px solid #212121;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}