.Activities{
    background-color: aquamarine;
    width: 100%;
    height: 30em;
}

.AddButton{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    font-family: 'Jost';
    font-style: normal;
}

.leftButton{
    background: red;


}


.btn-home{
   
    margin:20px;
    border:0;
}

.btn-custom {
    background-color: #2E8540;
    border:0;
    border-radius: 25px;
    padding:10px;
}

.btn-add{
    background-color: #2E8540;
    /* border-color: black;
    border-width: 10px; */
    padding:10px;
    border: 10px solid #000000;
    margin-left: 12em;
}

.btn-remove{
    background-color:#981B1E;
    border: 10px solid #000000;
    border-color: black;
    /* border-width: 10px; */
    padding:10px;
    margin-right: 12em;
   
}

.h2-custom{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 100px;
    /* font-weight: 400; */
    color: #5B616B;
}

.h1-add{
    font-family: 'Jost';
    font-style: normal;
    font-size: 100px;
    /* font-weight: 400; */
    color:#212121;
    margin-left: 215px;
}

.BottomButton{
    border-radius: 25px;
    width: 30em;
    height: 15em;
    margin-top: 0.5em;
    margin: auto;
    background: green;
    background-position: center;
    text-align: center;
}