.Header {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 8em;

  }

.HomeButton {
    margin: auto;
    height: 6em;
    object-fit: contain;
}

.HeaderText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    margin: auto;
}

/* .ProfileIcon {
    margin: auto;
    height: 8em;
    object-fit: contain;
} */

.Date{
    display: flex;
    flex-direction: row;
    font-size: 180%;
    text-align: center;
    
}

.ArrowButton{
    border-radius: 25px;
    width: 5em;
    height: 5em;
    padding-top: 0.5em;
    margin: auto;
    background: green;
    background-position: center;
}

.btn-custom {
    background-color: green;
    border:0;
    border-radius: 25px;
    padding:10px;
}



#line {
  
  border: 1px solid #000000;
/* border-top: 2px solid #2E8540; */
  }
  