.activities-header {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 8em;

  }


.btn-home{
   
    margin:20px;
    border:0;
}

.btn-custom {
    background-color: #2E8540;
    border:0;
    border-radius: 25px;
    padding:10px;
}

.btn-custom:hover{
    background-color: #4aa564;
   
    cursor: pointer;
}

.btn-add{
    background-color: #2E8540;
    /* border-color: black;
    border-width: 10px; */
    padding:10px;
    border: 5px solid #000000;


}

.btn-add:hover{
    background-color: #4aa564;
    border: 5px solid #212121;
    cursor: pointer;
}

.add-link{
    padding:30px;
}

.btn-remove{
    background-color:#981B1E;
    border: 5px solid #000000;
    border-color: black;
    /* border-width: 10px; */
    padding:10px;

}

.btn-remove:hover{
    background-color: #e31e3d;
    border: 5px solid #212121;
    cursor: pointer;
}

.completed {
    background-color: #94BFA2;
   
}

.btn-container {
display: flex;
flex-grow: 1;
}

.h1-back{
    font-family: 'Jost';
    font-style: normal;
    font-size: 50px;
    /* font-weight: 400; */
    color:#212121;
    margin-left: 20px;
    margin-right: 10px;
    
}

i.far.fa-check-circle {
    font-size: 50px;
    margin-right: 10px;
  
}
  
.h4-activity{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 25px;
    /* font-weight: 400; */
    color:#212121;
    margin-left:20px;
    
    
    
}

.h1-add{
    font-family: 'Jost';
    font-style: normal;
    font-size: 40px;
    /* font-weight: 400; */
    color:#212121;
    margin-left: 175px;
}

.img-activity{
    padding-right: 5px;
}

.list{
    margin: 10px 0;
}

.activity-button {
 
    color: #212121 ;
    padding: 5px;
    
    border: 3px solid #212121;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 20px;
    
  }

.h1-remove{
    font-family: 'Jost';
    font-style: normal;
    font-size: 90px;
    /* font-weight: 400; */
    color:#212121;
    margin-right: 100px;
}

.h2-custom{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 1em;
    /* font-weight: 400; */
    color: #5B616B;
}

#day{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 60px;
    color: #5B616B;
}

#link{
    color: transparent;
    text-decoration: none;
    border: none;
}


.BottomButton{
    border-radius: 25px;
    width: 30em;
    height: 15em;
    margin-top: 0.5em;
    margin: auto;
    background: green;
    background-position: center;
    text-align: center;
}


.activities-container{
    height: 60em;
}



