.btn-exercise{
    background-color: green;
    color:#fff;
    border:0;
}

.btn-confirm{
    background-color:#0071BC;
    border: 10px solid #000000;
    border-color: black;
    /* border-width: 10px; */
    border: 3px solid #000000;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    padding:10px;
    margin-right: 9em;
   
}

.btn-add{
    background-color: #2E8540;
    /* border-color: black;
    border-width: 10px; */
    padding:10px;
    border: 10px solid #000000;
    margin-left: 1em;

}
.btn-remove{
    background-color:#981B1E;
    border: 10px solid #000000;
    border-color: black;
    /* border-width: 10px; */
    padding:10px;
    margin-right: 9em;
   
}

.btn-custom {
    background-color: #2E8540;
    border:0;
    border-radius: 25px;
    padding:10px;
}

.selected {
    background-color: green;
  }

.h1-confirm{
    font-family: 'Jost';
    font-style: normal;
    font-size: 50px;
    /* font-weight: 400; */
    color:#212121;
}

.h1-back{
    font-family: 'Jost';
    font-style: normal;
    font-size: 50px;
    /* font-weight: 400; */
    color:#212121;
    
}

input.form-control-lg {
    font-size: 1.25rem; /* or any other value */
  }
  