.btn-exercise{
    background-color: green;
    color:#fff;
    border:0;
}

.btn-confirm{
    background-color:#0071BC;
    border: 10px solid #000000;
    border: 3px solid #000000;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    padding:10px;
    padding-right: 5px;
    margin-right: 1em;
   
}

.btn-right {
    background-color: #2E8540;
    border:0;
    border-radius: 20px;
    padding:10px;
}

.btn-left{
    background-color: #818181;
    border:0;
    border-radius: 20px;
    padding:10px;

}

.btn-back{
    background: #AEB0B5;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
}

#activityInput{
    background: #E7E7E7;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 338px;
    height: 61px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: #5B616B;
    line-height: 37px;
    text-align: center;
}

.text-box-label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    padding: 10px;
    color: #5B616B;
}


.vertical-line {
    border-left: 1px solid #8D8C8C;
    height: 45%;
    width: 0px;
    margin: 1 1px;
  
  }

.carousel-item h2{
    color: #212121;
    font-weight: 700;
    font-size: 30px;
    margin-top: 12px;
    font-family: 'Nunito';
    font-style: normal;
}

.carousel-item button {
  background-color: #D6D7D9;
  border: none;
  color: #212121;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
}

.title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #5B616B;
    padding: 20px;
}

.btn-add{
    background-color: #2E8540;
    /* border-color: black;
    border-width: 10px; */
    padding:10px;
    border: 10px solid #000000;
    margin-left: 1em;

}
.btn-remove{
    background-color:#981B1E;
    border: 10px solid #000000;
    border-color: black;
    /* border-width: 10px; */
    padding:10px;
    margin-right: 9em;
   
}

.btn-custom {
    background-color: #2E8540;
    border:0;
    border-radius: 25px;
    padding:10px;
}

.selected {
    background-color: 
    #4AA564;
    border-radius: 25px;
  }

  .selectedColour {
    background-color: #FFB4B4;
  }

.h1-confirm{
    font-family: 'Jost';
    font-style: normal;
    font-size: 30px;
    /* font-weight: 400; */
    color:white;
}

.h1-back{
    font-family: 'Jost';
    font-style: normal;
    font-size: 30px;
    /* font-weight: 400; */
    color:#212121;
    margin-right: 14px;
    
}

input.form-control-lg {
    font-size: 1.25rem; /* or any other value */
  }
  