a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.greet{
  width: auto;
  margin: auto;
  text-align: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(90vh - 60px);
  width: auto;
}

.button{
  display: flex;
  margin: auto;
  text-align: center;

  box-sizing: border-box;
  border: 5px solid #000000;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 20px;
  line-height: 36px;
  color: white;
}

.activityrel{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}


.activity{
  width: 100%;
  top: 21vh;
  box-sizing: border-box;
  height: 35vh;
  background-image: url("../images/Acitivites.jpg");
  background-position: 90%;
  background-size: cover;
  background-color: blue;
  border-width: 0px 5px 5px 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 25px 25px;
}

#activity{
  box-sizing: border-box;
  height: 7vh;
  background: #0071BC;
  border-width: 5px 5px 0px 5px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 6px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 25px 25px 0px 0px;
}

#activity p{
  position: relative;
  float: left;
  top: 0.8vh;
  margin: auto;
  margin-left: 0.4em;
  
  font-size: 3vh;
  color: white;
}

#activity img{
  margin-top: 1vh;
  margin-left: 2em;
  height: 4vh;
  float: left;
}

.status{
  position: absolute;
  width: 14em;
  left: 24.5em;
  top: 29.5vh;
  display: flex;
  flex-direction: column;
}

#status{
  margin-bottom: 0.4vh;
  text-align: center;

  padding: 2.5vh;
  box-sizing: border-box;
  border: 5px solid #000000;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

#status img{
  position: absolute;
  margin-top: -1.9vh;
  margin-left:2.5em;
  height: 3.8vh;
}

#status p{
  position: absolute;
  margin-top: -1.5vh;
  margin-left: -0.7em;
  font-size: 3vh;


  font-size: 2.5vh;
  line-height: 29px;
  
  
}

.done{
  background: #2E8540;
  color: white;
}

.todo{
  background: #FDB81E;
  color: #212121;
}

.late{
  background: #CD2026;
  color: white;
}

.inline{
  display: flex;
}

.flex{
  width: 9em;
  margin-top: 1em;
  height: 9vh;
  text-align: center;
}

.flex p{
  margin: auto;
  margin-left: 0.4em;
  font-size: 3.5vh;
}

.flex img{
  height: 4.5vh;
  margin-left: 1em;
  margin-top: 1.5vh;
}

#sleep {
  background: #981B1E;
}

#food {
  background: #2E8540;
}

#goals {
  background: #046B99;
}