a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.greet{
  width: 40%;
  margin:auto;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.button {
  box-sizing: border-box;
  border: 5px solid #000000;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  width: 80%;
}

.activityrel {
  display: flex;
  flex-direction: column;
}

.activity-container {
  position: relative;
  width: 90%;
  margin: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:90%;
}


.activity {
  box-sizing: border-box;
  border: 5px solid #000000;
  grid-area: activity;
  height: 35vh;
  background-image: url("../images/Acitivites.jpg");
  background-position: 90%;
  background-size: cover;
  background-color: blue;
  border-width: 0px 5px 5px 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.65));
  border-radius: 0px 0px 25px 25px;
}

#activity{
  box-sizing: border-box;
  height: 7vh;
  background: #0071BC;
  border-width: 5px 5px 0px 5px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 4px 0px 4px 1px rgba(0, 0, 0, 0.35);
  border-radius: 25px 25px 0px 0px;
}

#activity p{
  position: relative;
  float: left;
  top: 0.8vh;
  margin: auto;
  margin-left: 0.4em;
  
  font-size: 3vh;
  color: white;
}

#activity img{
  margin-top: 1vh;
  margin-left: 2em;
  height: 4vh;
  float: left;
}

.status {
  position: absolute;
  top: 17%;
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4vh;
  text-align: center;
  padding: 1vh 1.5vh;
  box-sizing: border-box;
  border: 5px solid #000000;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
}

#status img {
  height: 3.8vh;
  margin-left: 0.5rem;
}

#status p {
  font-size: 2.5vh;
  line-height: 29px;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

.done {
  background: #2E8540;
  color: white;
}

.todo {
  background: #FDB81E;
  color: #212121;
}

.late {
  background: #CD2026;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  height: 9vh;
  text-align: center;
  color: white;
}

.flex p {
  margin: 0;
  margin-left: 0.4em;
  font-size: 3.5vh;
}

.flex img {
  height: 4.5vh;
  margin-left: 1em;
}

#food {
  background: #2E8540;
}

#goals {
  background: #046B99;
}

.parent-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Update media query for landscape mode */
@media (orientation: landscape) {
  .parent-section {
    flex-direction: row; /* Change the flex-direction for landscape mode */
  }

  .activity-container {
    width: 45%;
  }

  .button-container {
    width: 45%;
  }

  .greet {
    width: 100%;
  }
}
