.user
{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
}

.user p
{
text-align: center;
color: #212121;

}

#profile_picture
{
    text-align: center;
    height: 20%;
    margin: auto;
}

.edit_photo
{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.edit_photo img
{
    height: 6vh;
    margin-top: 2vh;
}

.edit_photo p
{
    font-size: 0.8em;
    margin-top: 2vh;
    margin-left: 0.5em;
    color: #0071BC;
}

.buttons
{
    height: 20vh;
}

.remind_button
{
    position: relative;
    margin-top: 5vh;
    background-color: #FAD980;
    border: 5px solid black;
    border-radius: 15px;
    height: 10vh;
    width: 90%;
    box-shadow: 4px 4px 4px #aaaaaa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: #212121;
}
.remind_button:active
{
    background-color: #f9e2a3;
}

.remind_button img 
{
    float: left;
    margin: 1vh;
    height: 5vh;
}

.remind_button p 
{
    float: left;
    padding-top: 1vh;
    font-size: 1.5em;
}

.button_back
{
    position: relative;
    margin-top: 1vh;
    background-color: #AEB0B5;
    border: 5px solid black;
    border-radius: 15px;
    height: 8vh;
    width: 90%;
    box-shadow: 4px 4px 4px #aaaaaa;
    font-size: 1.5em;
    /* Log Out */

    color: #212121;

}
.button_back:active
{
    background-color: #63c37e;
}

.button_back img 
{
    float: left;
    margin: 1vh;
    height: 5vh;
}

.button_back p 
{
    float: left;
    padding-top: 1vh;
    padding-left: 0.4em;
    font-size: 2em;
}
