
.Header {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
  }

.HeaderText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    color: #2E8540;
}

.headerBtn {
    width: 20%;
} 

#line {
    border: 1px solid #212121;
    width: 85%;
    margin: auto;
}

/*##########################
############################*/

/* .verticalBar {
    position: fixed;
    top: 13%;
    left: 5%;
    width: 40%;
    height: 55%;
    border: 1px solid black;
    display:flex;
    flex-direction: row;
} */

/* .verticalBarBar {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: #FFC296;
}

.verticalBarHalf {
    border: 1px solid black;
    width: auto;
    height: 50%;
}

.cursor_bedtime {
    position: absolute;
    width: 40%;
    height: 40%;
    border: 2px solid black;
    margin-top: 100%;
    margin-left: 20px;
    background-color: #86b9e0;
} */

.verticalBar {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    position:relative
}

.days{
    display:flex;
    flex-direction: column;
    width:50%;
    
}

#day1 {
    height:50%;
    line-height: 274px;
    text-align: center;
    font-size: 1.5em;
}

#day2 {
    height:50%;
    line-height: 274px;
    text-align: center;
    font-size: 1.5em;
}

.blueBar {
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 33%;
    height: 200px;
    width: 50px;
    background-color: #86b9e0;

}

.upDownBtns {
    margin-top: 20px;
    margin-right: 20px;
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.buttonUp {
    background-color: #2E8540;
    color: white;
    border: 0;
    box-shadow: 4px 4px 4px #aaaaaa;
    height: 50px;
    border-radius: 15px;
}

.buttonUp:active{
    background-color: #2Eaaaa;
}

.buttonDown {
    background-color: #2E8540;
    color: white;
    margin-top: 430px;
    border: 0;
    box-shadow: 4px 4px 4px #aaaaaa;
    height: 50px;
    border-radius: 15px;
}

.buttonDown:active{
    background-color: #2Eaaaa;
}

.imgUp {
    width: 40%;
    transform: rotate(90deg);
    
}

.imgDown {
    width: 40%;
    transform: rotate(90deg);
    
}

/*###########################
#############################*/

div#buttons
{
    position: relative;
    margin-top: 20px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*******/
#button_sleepTime
{
    width: 150px;
    border-radius: 15px;
    margin-right: 20px;
    border: 3px solid black;
    background-color: #86b9e0;
    box-shadow: 4px 4px 4px #aaaaaa;
}

#button_sleepTime img 
{
    padding-top: 7px;
}

#button_sleepTime p
{
    font-size: 1.5em;
}
/*******/
#button_awakeTime
{
    width: 150px;
    border-radius: 15px;
    border: 3px solid black;
    background-color: #FFC296;
    box-shadow: 4px 4px 4px #aaaaaa;
}

#button_awakeTime img 
{
    padding-top: 7px;
}

#button_awakeTime p
{
    font-size: 1.5em;
}

/*####################
######################*/

.button_back
{
    position: relative;
    margin-top: 3%;
    left: 5%;
    background-color: #ccc;
    border: 3px solid black;
    border-radius: 15px;
    height: 70px;
    width: 90%;
    box-shadow: 4px 4px 4px #aaaaaa;
}
.button_back:active
{
    background-color: #ddd;
}

.button_back img 
{
    float: left;
    margin-top: 7px;
}

.button_back p 
{
    float: left;
    font-size: 2em;
    margin-top: 7px;
    padding-left: 15px;
}